.App {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  margin: 2em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15); 
  align-items: center;
  font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  background-color: rgb(41,54,70);
  color: rgb(225,225,225);
  cursor: default;
  min-height: 20em;
  min-width: 32em;
}
.App h1{
  color: rgb(7,158,94)
}
.App .inputWrapper > input{
  background-color: transparent;
  display: inline-block;
  border:0px;
  border-top:  1px solid rgb(50, 65, 80);
  border-bottom: 1px solid rgb(50, 65, 80);
  padding: 1em;
  color: rgb(225,225,225);
}
.App .inputWrapper >input:focus{
  outline: none;
}
.App .todoList{
  display: flex;
  flex-flow:  row wrap;
  justify-content: flex-start;
  cursor: pointer;
}

